.buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.navigating-button {   
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 0.1px;
    background-color: rgb(252, 252, 166);
    font-size: 1.3rem;
    cursor: pointer;
}
