.card {
    margin: 110px auto 0;
    padding: 35px;
    width: 500px;
    height: 400px;
    background: var(--light-grey);
    border: 3px solid var(--green);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.introduction,
.greetings {
    margin-top: 40px;
}

.end-card .end-buttons{
    display: flex;
    justify-content: space-between;
}

.diet input,
.favorite input,
.allergies input {
    margin-top: 25px;
    margin-right: 20px;
    width: 15px;
    height: 15px
}

label {
    font-size: large;
}

.love-container textarea {
    resize: none;
    font-size: 0.9rem;
    padding: 5px 8px;
}