.starting-card span{
    color: crimson;
    font-size: 1.8rem;
}
.end-card span{
    color: rgb(20, 123, 220);
    font-size: 1.8rem;
}
.end-button {
    position: absolute;
    bottom: 20px;
    right: 99.8px;
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 0.1px;
    background-color: rgb(252, 252, 166);
    font-size: 1.3rem;
}
.start-button, .result-button {
    margin-top: 20px;
    padding: 10px 30px 7px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, orangered, orange);
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
}
.diet input, .favorite input, .allergies input {
    margin-top: 25px;
    margin-right: 20px;
    width: 15px;
    height: 15px
}
.result h2 span {
    color: brown;
}

label {
    font-size: large;
}

.love-container textarea {
    resize: none;
    font-size: 0.9rem;
    padding: 5px 8px;
}