.animated-line {
    margin: 100px 10% 0;
    position: relative;
}
.icons-container {
    display: flex;
    justify-content: space-between;
}
.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(252, 252, 166);
    display: flex;
    cursor: pointer;
}
.colored-icon {
    background: rgb(245, 135, 135);
}
.icon img {
    width: 60%;
    margin: auto;
}
.line, .coloured-line {
    height: 10px;
    width: 99%;
    margin: auto;
    background: rgb(252, 252, 166);
    position: absolute;
    top: 42px;
    left: 5px;
    z-index: -2;
}

.coloured-line {
    width: 0%;
    z-index: -1;
    background: rgb(245, 135, 135);
    transition: 300ms ease;
}

.growth-25 {
    width: 25%;
}
.growth-50 {
    width: 50%;
}
.growth-75 {
    width: 75%;
}
.growth-100 {
    width: 99%;
}





