.animated-line {
    margin: 100px 10% 0;
    position: relative;
}
.icons-container {
    display: flex;
    justify-content: space-between;
}
.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 1px;
    background: var(--light-grey);
    display: flex;
    cursor: pointer;
}

.icon img {
    width: 60%;
    margin: auto;
}
.line, .coloured-line {
    height: 8px;
    width: 99%;
    margin: auto;
    position: absolute;
    top: 36px;
    left: 5px;
    z-index: -2;
}

.coloured-line {
    width: 0%;
    z-index: -1;
    background: var(--green);
    transition: 300ms ease;
}

.growth-25 {
    width: 25%;
}
.growth-50 {
    width: 50%;
}
.growth-75 {
    width: 75%;
}
.growth-100 {
    width: 99%;
}





