.animated-line {
    margin: 100px 10%;
    position: relative;
}
.icons-container {
    display: flex;
    justify-content: space-between;
}
.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(248, 248, 137);
    display: flex;
}
.colored-icon {
    background: rgb(245, 135, 135);
}
.icon img {
    width: 60%;
    margin: auto;
}
.line, .coloured-line {
    height: 15px;
    width: 99%;
    margin: auto;
    background: rgb(248, 248, 137);
    position: absolute;
    top: 42px;
    left: 5px;
    z-index: -2;
}

.coloured-line {
    width: 0%;
    z-index: -1;
    background: rgb(245, 135, 135);
    transition: 300ms ease;
}

.growth-25 {
    width: 25%;
}
.growth-50 {
    width: 50%;
}
.growth-75 {
    width: 75%;
}
.growth-100 {
    width: 99%;
}

.navigating-buttons-container {
    margin-top: 100px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.navigating-button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: rgb(245, 135, 135);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 200ms ease;    
}
.navigating-button:hover{
    background: rgb(246, 75, 75)
}




