@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Roboto", sans-serif;
}

:root {
    --light-grey: #F5F7F8;
    --golden:#F4CE14;
    --green: #379777;
    --dark: #45474B;
  }

  body {
    background-image: linear-gradient(rgba(34, 41, 53, 0.7), rgba(34, 41, 53, 0.7)), url('./img/kitchen-table.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
